<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">

    <login-config>
    	<auth-method>CLIENT-CERT</auth-method>
    </login-config>
	<servlet>
	  <servlet-name>JavaSFIntRestClient</servlet-name>
	  <servlet-class>JavaSFIntRestClient</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>JavaSFIntRestClient</servlet-name>
	  <url-pattern>/RestClient</url-pattern>
	</servlet-mapping>
	
</web-app>